.body-container {
    display: flex;
    justify-content: space-between;
    float: left;
    height: calc(100vh - 104px);
    width: 100vw;
    overflow-x: hidden;
  }

.videos {
    display: column;
    width: 100vw;
}