.like-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.unlike-button {
    color: blue;
    display: flex;
    background-color: 'blue';
    align-items: center;
    cursor: pointer;
}

.thumbUp-icon-liked {
    color: blue;
}

@media only screen and (max-width: 900px) {
    .youtube-iframe {
        width: 60vw;
    }
}

@media only screen and (max-width: 600px) {
    .youtube-iframe {
        width: 75vw;
    }
}