*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body > #root > div {
  overflow: hidden;
  height: auto;
}

body {
  margin: 0;
  width: auto;
}

.youtube-container {
  background-color: #fff;
  height: 100%;
}