.break-line {
  opacity: 0.75;
}

.sidebar {
  top: 0;
  flex-direction: row;
  width: 200px;
  position: sticky;
  z-index: 1;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar h2 {
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 15%;
  }
  .sidebar h2 {
    display: none;
  }
}
