.selected {
  background-color: lightgray;
}

.selected > .sidebarrow__icon {
  color: red;
}

.selected > .sidebarrow__title {
  font-weight: bold;
}

.sidebarrow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
}

.sidebarrow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebarrow:hover > .sidebarrow__icon {
  color: red;
}

.sidebarrow:hover > .sidebarrow__title {
  font-weight: bold;
}

.sidebarrow__icon {
  color: #606060;
  width: 1.75rem;
  height: 1.75rem;
}

.sidebarrow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .sidebarrow {
    width: 100%;
  }
}
